.employee-stats {
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

div {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}
}
