.payroll-page {
  padding: 24px;
  background: #f7f8fc;
}

.payroll-filter {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;

  .title {
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
  }

  select,
  input {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    min-width: 140px;
  }

  button {
    padding: 8px 16px;
    border-radius: 6px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
  }
  .year-field {
  display: flex;
  flex-direction: column;
  min-height: 38px; // cố định chiều cao

  input {
    margin-top: 25px;
  }

  .error {
    min-height: 16px; // giữ chỗ cho error
    font-size: 12px;
    color: red;
    visibility: hidden;
  }

  .error.show {
    visibility: visible;
  }
}


}

.payroll-table {
  background: white;
  border-radius: 10px;
  padding: 16px;

  h3 {
    margin-bottom: 12px;
    font-weight: 600;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 14px;
      text-align: left;
    }

    th {
      color: #6b7280;
      font-size: 13px;
      border-bottom: 1px solid #eee;
    }

    tr {
      border-bottom: 1px solid #f1f1f1;
    }
    .no-data {
  text-align: center;
  padding: 40px 0;
  font-style: italic;
  color: #9ca3af;
  font-size: 14px;
}

  }

  .emp-info {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 500;
    }

    .email {
      font-size: 12px;
      color: #6b7280;
    }
  }

  .status {
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;

    &.done {
      background: #d1fae5;
      color: #065f46;
    }

    &.pending {
      background: #fde68a;
      color: #92400e;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  margin-top: 16px;
  justify-content: center;

  button {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;

    &.active {
      background: #3b82f6;
      color: white;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
.payroll-button {
     padding: 8px 16px;
    border-radius: 6px;
    background: #f68f3b;
    color: white;
    border: none;
    cursor: pointer;
    width: 155px;
    height: 55px;
    font-weight: 600;
  
  }
